/* global   */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}


/* header  */

.header{
    background-color: #264653;
    
}


.btn-orange{
    background: #E76F51;
    color: seashell;

}

.btn-orange:hover {
    box-shadow: 0 0 10px #E76F51, 0 0 20px #E76F51;
}



/* main  */

/* featured  */

.effect{
    filter: grayscale(100%);    
}

.text-orange{
    color: #E76F51;
}

.text-navy{
    color:  #0A0826;
  
}

/* news  */
.btn-outline-orange{
    border: 2px solid #E76F51;
}

.btn-outline-orange:hover{
    background-color: #E76F51;
}

/* similar bikes  */

.offer{
    position: relative;
}

.discount{
    position: absolute;
    top: 0px;
    
}